<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.0/phpunit.xsd"
        cacheTokens="false"
        bootstrap="bootstrap.php"
        colors="true"
        forceCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true">
    <testsuite name="Lizards and Pumpkins Elasticsearch Search Engine Module Integration Tests">
        <directory>Suites</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../../src</directory>
        </whitelist>
    </filter>
    <php>
        <!--
        <server name="LP_ELASTICSEARCH_INTEGRATION_TEST_CONNECTION_PATH" value="http://localhost:9200/your-index/_doc"/>
        -->
        <server name="LS_ELASTICSEARCH_FORCE_REFRESH" value="1"/>
    </php>
</phpunit>
